<div>
    <form fxLayoutAlign="stretch" fxLayout="column">
        <mat-form-field >
            <input  matInput  placeholder="First Name">
        </mat-form-field>
        <mat-form-field>
            <input  matInput  placeholder="Last Name">
        </mat-form-field>
        <mat-form-field >
            <input  matInput placeholder="Qalification">
        </mat-form-field>
        <mat-form-field>
            <input  matInput  placeholder="Email">
        </mat-form-field>
        <button mat-raised-button   type="submit">Add</button>
    </form>
</div>
